ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin:auto;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(royalblue, black);
    margin:auto;
}
h1 {
    font-weight: 700;
}
em {
    font-style: italic;
}
img {
    max-width: 100%;
    height: auto;
}
table {
  border:2px solid black;
  width: 100%;
}
th {
  border:2px solid black;
  font-size: 1.5em;
  font-weight: 900;
}
td {
  border:1px solid black;
}
.navbar-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
    margin:auto;
}
.navbar-font {
    color:white;
    width: 100%;
    font-size: 28px;
    text-decoration: none;
}
.navbar-font:hover {
    color: greenyellow
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
    margin:auto;
}
.footer-text {
    color: grey;
    font-size: 14px;
}
.footer-text:hover {
    color: greenyellow
}
.background {
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    padding-bottom: 10px;
    bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-container {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
}
.title-font {
    color:white;
    font-size: 3em;
    font-weight: 900;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;

}
.main-content-container {
    background-color: white;
    border:4px;
    border-style: solid;
    border-color:black;
    width: 75%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.main-content-font {
    color: black;
    font-size: xx-large;
}
.leaderboard-container {
    background-color: white;
    width:100%;
    padding-bottom: 2em;
    padding-top: 2em;
}
.leaderboard-title {
  color:black;
  font-size: 2em;
  padding:0.2em;
  border:0.2em solid black;
  font-weight: 800;
}

.left-main-sponsor {
  width:100%;
  font-size: 2em;
  font-weight: 800;
  border:0.2em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-main {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding:1em;
  background-color: white;
  height: auto;
}
.right-main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1em;
  background-color: white;
}
.home-post-container {
  width: 100%;
  border-bottom: 0.1em solid black;
  padding: 1em;
}

.home-post {

}


.quest-column-title {
  background-color: lightblue;
  width: 100%;
}
.quest-row:hover {
  background-color: lightgray;
}
.bleak-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.seemed-lost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.solution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.project-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    width:45%;
    border:4px;
    border-style: solid;
    border-color:black;
    margin: auto;
    
}
.project-list-font {
    color: black;
    font-size: xx-large;
}

.quest-category {

}

.quest-name {

}

.quest-description {

}

.quest-status {

}
.quest-contact {

}
.quest-more-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quest-more-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  height: 8vh;
  font-size: 2em;
  font-weight: 900;
  margin: 10px;
  border:4px solid black;
  border-radius: 20px;
  background-color: lightblue;
}

.rotated {
  animation: rotateAnimation 1s linear infinite;
}

.rotated:hover {
  animation-play-state: paused;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .main-content-container {
      width: 95%;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 767px) {
    .main-content-container {
      width: 100%;
    }
  }
  

/* Regular */
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Bold */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Thin */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  /* Thin Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Light */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  /* Black */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Black Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  