ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
body {
    min-height: 100vh;
}
.navbar-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position:fixed;
    left:0;
    top:0;
}
.navbar-font {
    color:white;
    width: 100%;
    font-size: 28px;
    text-decoration: none

}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
}
.footer-text {
    color: grey;
    font-size: 14px;
}
.background {
    background-color: royalblue;
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-container {
    background-color: lightgoldenrodyellow;
    border:4px;
    border-style: solid;
    border-color:black;
}
.title-font {
    color:black;
    font-size: xx-large;
}
.main-content-container {
    background-color: lightgoldenrodyellow;
    border:4px;
    border-style: solid;
    border-color:black;
    width: 75%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.main-content-font {
    color: black;
    font-size: xx-large;
}
.bleak-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seemed-lost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.solution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    
    border:4px;
    border-style: solid;
    border-color:black;
    
}
.project-list-font {
    color: black;
    font-size: xx-large;
}